@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: ' Poppins ', sans-serif;
}
body{
    background-color: black;
}
.main {
    background-image: url(netflix\ main.jpg);
    height: 90vh;
    position: relative;
    background-size: max(1000px 100vh);
    background-position: center center;
    background-repeat: no-repeat;


}

.main .box {
    height: 90vh;
    opacity: 0.69;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 75vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    align-items: flex-end;
    color: red;
    width: 155px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height:90%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    gap: 23px;
    padding: 0 30px;
}
.first{
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.second{
    font-weight: 400;
       font-size: 24px;
       text-align: center;
}
.third{
    font-weight: 400;
       font-size: 20px;
       text-align: center;
}
.seperation{
  height: 7px;
  background-color: rgb(52, 52, 52);
}
.btn{
    padding: 3px 8px;
   
    font-size: 15px;
    background-color: white;
    background-color: rgba(146, 143, 143, 0.255);
    color: white;
    border: 1px solid rgba(241, 233, 233, 0.603);
}
.btn1{
    padding: 3px 20px;
    font-size: 15px;
    background-color: red;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.btn2{
    font-weight: bold;
    font-weight: 300;
    color: white;
    padding: 7px 101px 8px 14px;
    padding-right: 0.375rem;
    font-size: 30px;
    border-radius: 4px;
    justify-content: center;
    cursor: pointer;
}
.main input{
    padding: 7px 101px 8px 14px;
  font-weight: 300;
    font-size: 13px;
    color: white;
    border-radius: 4px;
    background-color: rgba(23, 23, 23,0.7);
    border: 1px solid rgba(239, 233, 233, 0.5);

}
.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}
.first1{
    display: flex;
    justify-content: center;
    color: white;
    max-width: 70vw;
    margin: auto;
    justify-content: center;
    align-items: center;
   
}
.img1 img{
    width: 36vw;
   position: relative;
   z-index: 12;
}
.img1{
    position: relative;
}
.img1 video{
    position: absolute;
    top: 60px;
    right: 0;
}
.book{
   font-weight: 900;
   font-size: 48px;
   text-align: left;
   display: flex;
   flex-direction: column;
   gap: 10;
  
}
.book1{
    font-size: 28px;
    font-weight: 400;
    text-align: left;
}
.img12 img{
    size: 40px;
    display: flex;
    align-items: flex-start;
}
.img13 img{
    display: flex;
    width: 40vw;
   position: relative;
   z-index: 12;
}
.img13 video{
    position: relative;
    top: 50px;
    right: 0;
}
.faq h2{
    color: white;
    text-align: center;
    font-size: 48px;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}
.box1{
   background-color:rgb(56, 55, 55);
   justify-content: space-between;
   color: white;
   display: flex;
   padding: 20px;
   max-width: 60vw;
   margin: auto;  
   margin: 34px auto;  
   cursor: pointer;
}
